:root{
    --primary color:;
    --primary white:;
}

html,
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}
ul,li {
    list-style: none;
}
a{
    text-decoration: none;
}

body {
    background: #fafafa;
}