:root{
    --primary-color: #8C8C8C;
    --primary-white: #fafafa;
    --box-shadow:rgba(153, 153, 153, 0.25);
    --spacing: 0.25rem;
    --border-radius: 62.5rem;
    --ff-primary: "Inter", sans-serif;
    --nav-height: 5rem;
}

/*============================================*/
/*gobal setting*/

html,
body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}

body {
    padding: 25px;
    width: 80rem;
    height: 60rem;
    background: var(--primary-white);
    font-family: var(--ff-primary);
    line-height: 1.5;
}

h1,
h2 {
    text-align: center;
    padding: 2px;
}

h2 {
    font-weight: 100;
}
.dark-mode{
    background: var(--primary-color);
    color: var(--primary-white);
}
/*========sections===============*/
/*navbar*/

.navbar {
    box-shadow: var(--box-shadow);
    padding: 0 3rem;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    flex-shrink: 0;
}

.navbar .menu-list{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.navbar :before{
    background: radial-gradient(62.5% 62.5% at 50% 43.75%, 
    rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0.30) 100%);
    mix-blend-mode: screen;
    box-shadow: 0 0 77.6px 0 rgba(255, 255, 255, 0.10) inset, 0 80px 200px -19px rgba(0, 0, 0, 0.29);
}

.navbar-computer {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: space-between;
}
.navbar .mobile-menu-list{
    display: none;
}
.btn {
    padding: 10px;
    display: flex;
    width: 10rem;
    height: 3.25rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 20px 0 var(--box-shadow);
    background: var(--primary-white);
}

.btn a{
    color: var(--primary-color);
}

/*switch*/
.dark-mode-toggle{
    display: none;
}
.dark-mode-toggle svg{
    width: 2.6875rem;
    height: 2.625rem;
}
/*===================================================*/
/*earth*/

model-viewer{
    margin: var(--nav-height);
    display: block;
    position: relative;
    width: 180vh;
    height: 180vh;
}

/*===========================================================*/
/*carousel*/

.carousel {
    width: 45vw;
    height: 380px;
    padding: 10px;
    display: flex;
    gap: 4vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    padding: 20px;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

/*=========================================*/
/*map*/

